.article {
  color: rgb(67, 78, 90);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 720px;
  margin: 0 auto;
  line-height: 1.43;
  font-size: 18px;
}

.article p {
  margin-bottom: 60px;
}

.article h2 {
  font-size: 24px;
}

.article__title {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
  padding: 0;
  max-width: 800px;
  align-self: center;
}

.article__divider {
  height: 1px;
  width: 150px;
  background-color: rgb(166, 166, 166);
  align-self: center;
  margin: 30px 0;
}

.article__focus {
  color: rgb(166, 166, 166);
  align-self: center;
}

.article__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.article__section {
  max-width: 900px;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  margin-bottom: 50px;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.article__section img {
  margin: 0 auto;
  display: block;
}
