.comment {
  display: flex;
  flex-direction: column;
  color: white;
}

.comment--narrow {
  max-width: 530px;
}

.comment__text {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.comment__person {
  display: flex;
}

.comment__image {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  flex: 0 0 auto;
  margin-right: 20px;
}

.comment__name {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
