
#contact-page__worldmap-container {
  height: 475px;
  display: flex;
  align-items: flex-end;
}

.contact-page__worldmap {
  width: 100%;
  height: 475px;
  position: absolute;
}

.contact-page__map-title {
  font-size: 1.8rem;
}

.contact-page__vcards {
  font-size: 1.2rem;
  justify-content: center;
}

.contact-page__vcard {
  width: 400px;
  margin: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 2px;
  padding: 15px 50px 30px;
  background-color: white;
}

.contact-page__vcard-row {
  margin: 10px;
}

.contact-page__vcard-row.name {
  font-weight: 300;
  font-size: 1.5rem;
}

.contact-page__vcard-field {
  width: 70px;
  display: inline-block;
  color: gray;
  font-weight: 300;
  text-align: right;
  padding-right: 20px;
}
