.employee-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 2px;
  width: 400px;
  height: 175px;
  padding: 10px;
  margin: 10px;
  margin-left: 42px;
  background-color: white;
}

.employee-card:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.45);
}

.employee-card-avatar {
  position: absolute;
  left: -32px;
  height: 64px;
  width: 64px;
}

.employee-card-avatar-hidden {
  display: none;
}

.employee-card-title {
  margin-top: 15px;
  color: #474747;
  font-size: 16pt;
  font-weight: lighter;
  cursor: default;
}

.employee-card-title-with-avatar {
  margin-left: 34px;
}

.employee-card-position {
  font-size: 8pt;
  cursor: default;
}

.employee-card-about {
  color: #757575;
  font-weight: lighter;
  cursor: default;
}

.employee-card-social {
  align-self: flex-end;
}

.social-platform-icon-logo {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.social-platform-icon {
  display: inline;
  position: relative;
  margin-left: 10px;
}

.social-platform-icon-tooltip {
  position: absolute;
  top: -30px;
  left: -40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  color: white;
  background-color: #5E5E5E;
  white-space:nowrap;
  font-size: 8pt;
  font-weight: lighter;
}

.social-platform-icon-tooltip-show {
  display: block;
}

.social-platform-icon-tooltip-hide {
  display: none;
}

.social-platform-icon-tooltip-arrow {
  position: absolute;
  top: -19px;
  left: 3px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #5E5E5E;
}
