.home-page__splash {
  background: linear-gradient(-45deg, rgb(49, 191, 131) 0%, rgb(0, 183, 170) 100%);
  min-height: 600px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.home-page__content {
  background-color: white;
  display: flex;
  min-height: 600px;
  justify-content: center;
}

.home-page__content--alternate {
  background-color: #010715;
  min-height: 400px;
}

.home-page__content--focus {
  background-color: #0079bf;
  min-height: 400px;
}

.home-page__content-divider {
  background-color: rgb(0, 121, 191);
  height: 40px;
}

.home-page__left {
  width: 50%;
  flex: 0 0 auto;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-page__left--narrow {
  width: 40%;
}

.home-page__right {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 60px;
}

.splash {
  height: 300px;
  width: 801px;
  margin: 0 auto;
  color: white;
  display: flex;
  margin-bottom: 160px
}

.splash__demo {
  position: relative;
  width: 400px;
  height: 100%;
  overflow: hidden;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash__demo-sprint-icon {
  width: 280px;
}

.splash__content {
  margin-left: 30px;
  width: 400px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash__title {
  font-size: 26px;
  font-weight: 300;
  color: #a3f4b7;
}

.splash__description {
  font-size: 24px;
  line-height: 34px;
}

.splash__line-shadow {
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  position: absolute;
  width: 1px;
  top: 20px;
  bottom: 20px;
  right: -1px;
}

.splash__line {
  width: 1px;
  height: 100%;
  flex: 0 0 auto;

  background: linear-gradient(top, rgba(49, 191, 131, 0) 0%, rgb(41, 133, 94) 20%, rgb(42, 140, 98) 80%, rgba(49, 191, 131, 0) 100%);
}

.section {
  padding: 30px;
  -webkit-font-smoothing: antialiased;
}

.section--narrow {
  max-width: 500px
}

.section__title {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 50px;
}

.section__footer {
  margin-top: 30px;
}

.home-page__showcase-left {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.home-page__showcase-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.home-page__showcase-image {
  position: absolute;
  right: 40px;
  bottom: -40px;
  background-image: url('../images/graphics/1.png');
  height: 800px;
  width: 800px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.home-page__showcase-btn {
  padding: 30px;
}

.home-page__showcase-casestudy {
  font-weight: 700;
  font-size: 12px;
  color: rgb(161, 161, 161);
  margin-bottom: 15px;
}

.home-page__showcase-title {
  font-size: 90px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.home-page__showcase-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background-color: rgb(0, 121, 191);
  text-decoration: none;
  color: white;
  font-size: 26px;
  transition: all 0.2s;
}

.home-page__showcase-link:hover {
  background-color: rgb(133, 14, 76);
}

#comments .home-page__left,
#comments .home-page__right {
  align-items: center;
  justify-content: flex-start;
  margin: 100px 0;
}

.home-page__container {
  max-width: 1100px;
  display: flex;
}

.splash__call-to-action {
  padding: 7px 15px;
  background-color: rgb(48, 175, 121);
  border-radius: 2px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  min-width: 130px;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  transition: all 0.28s;
  transition-timing-function: cubic-bezier();
}

.splash__call-to-action:hover {
  background-color: rgb(0, 153, 116);
  transform: translateY(-2px);
}

.splash__call-to-action:not(:last-child) {
  margin-right: 15px;
}
