.list {
  margin: 16px 0;
}

.list__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__heading {
  font-weight: 700;
  font-size: 11px;
  color: rgb(53, 53, 53);
  text-transform: uppercase;
}

.list--2 .list__items {
  columns: 2;
}

.list--3 .list__items {
  columns: 3;
}

.list--4 .list__items {
  columns: 4;
}

.list__item {
  break-inside: avoid;
  font-size: 14px;
  position: relative;
  padding: 0 0 0 16px;
  margin-bottom: 10px;
}

.list__item::before {
  position: absolute;
  top: 8px;
  left: 0;
  height: 6px;
  width: 6px;
  background-color: rgb(217, 137, 0);
  border-radius: 50%;
  content: "";
  display: block;
}
