.menu-dd {
  position: absolute;
  left: 0;
}

.menu-dd__window {
  position: relative;
  background-color: #F6F9FC;
  left: -25%;
  border-radius: 7px;
  color: #818B90;
  width: 480px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.menu-dd__item {
  width: 240px;
  height: 160px;
  padding: 40px 0;
  display: inline-flex;
}

.menu-dd__item-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-dd__item:nth-child(odd) .menu-dd__item-inner {
  border-right: solid 1px #E0E6EC;
}

.menu-dd__item:nth-child(3),
.menu-dd__item:nth-child(4) {
  padding: 0 0 40px;
}

.menu-dd__icon {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  background-color: white;
}


.menu-dd__item-title {
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  margin-bottom: 10px;
  position: relative;
  opacity: 1;
  top: 0;
  transition: all 200ms;
}

.menu-dd__item:hover .menu-dd__item-title {
  top: -10px;
  opacity: 0;
}

.menu-dd__item-text {
  position: relative;
  top: 0;
  transition: all 200ms;
}

.menu-dd__item-learn {
  position: relative;
  top: 10px;
  opacity: 0;
  transition: all 200ms;
  font-size: 13px;
  color: #000;
}

.menu-dd__item:hover .menu-dd__item-text {
  top: -10px;
}

.menu-dd__item:hover .menu-dd__item-learn {
  top: 0;
  opacity: 1;
}

.menu-dd__item-learn .icon {
  font-size: 13px;
  position: relative;
  top: 2px;
  color: #818B90;
}
