.photo-grid {
  display: flex;
  flex-wrap: wrap;
}

.photo-grid__photo {
  background-position: center;
  background-size: cover;
  height: 150px;
  border: solid 1px white;
  box-sizing: border-box;
}

.photo-grid__photo:nth-child(1n+2) {
  width: 50%;
}

.photo-grid__photo:nth-child(2n+1) {
  width: 50%;
}

.photo-grid__photo:nth-child(3n) {
  width: 100%;
}
