.section-header {
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
}

.section-header__hexagon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section-header__description {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 100;
  color: white;
}

.section-header__title {
  font-size: 30px;
  font-weight: 200;
  color: white;
  margin-bottom: 50px;
}

.section-header--small .section-header__title {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 100px;
}

.section-header__subtitle {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  opacity: 0.5;
}

.hexagon {
  position: relative;
  width: 80px;
  height: 46.19px;
  background-color: #ffffff;
  margin: 23.09px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.7157px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.hexagon:before {
  top: -28.2843px;
}

.hexagon:after {
  bottom: -28.2843px;
}

/*cover up extra shadows*/
.hexagon span {
  display: flex;
  position: absolute;
  top:0px;
  left: 0;
  width:80px;
  height:46.1880px;
  z-index: 2;
  background: inherit;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.hexagon img {
  opacity: 0.3;
}


.hexagon--small {
  position: relative;
  width: 66px;
  height: 38.11px;
  background-color: #ffffff;
  margin: 19.05px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon--small:before,
.hexagon--small:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 46.67px;
  height: 46.67px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.6655px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon--small:before {
  top: -23.3345px;
}

.hexagon--small:after {
  bottom: -23.3345px;
}

/*cover up extra shadows*/
.hexagon--small span {
  width:66px;
  height:38.1051px;
}

.section-header--small .section-header__hexagon {
  display: none;
}
