.bubbles {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  margin-top: -140px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.bubble {
 background-color: white;
 height: 280px;
 box-sizing: border-box;
 padding: 40px;
 border-radius: 6px;
 box-shadow: 0 2px 12px rgba(0,0,0,0.2);
 flex: 1 1 33.33%;
}

.bubble:not(:first-child) {
  margin-left: 40px;
}

@media screen and (max-width: 1000px) {
  .bubbles {
    display: block;
  }
}

.bubble__icon .icon {
  font-size: 37px;
  opacity: 0.9;
}

.bubble__title {
  margin: 10px 0 15px;
  font-size: 17px;
  font-weight: 700;
}

.bubble__description {
  font-size: 13px;
  color: #808DA0;
}

.service-page__testimonial {
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 190px;
  position: relative;
}

.service-page__brand-cloud {
  position: absolute;
  right: 60px;
  top: -60px;
}

.mini-title {
  text-align: center;
}

.mini-title__top {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #79879B;
}

.mini-title__bottom {
  font-size: 26px;
}

.service-page__features {
  margin-top: 100px;
  margin-bottom: 160px;
}

.service-page__features .mini-title {
  margin-bottom: 50px;
  padding-top: 80px;
}

.features {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  position: relative;
}

.features__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  flex: 1 1 auto;
  height: 300px;
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
}

.feature__icon .icon {
  font-size: 38px;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
}

.feature__title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  white-space: nowrap;
  color: #47495a;
}

.feature__description {
  font-size: 16px;
  line-height: 1.4;
  color: #6b7c93;
}

.feature:nth-child(odd):not(.features__overlay) {
  border-right: solid 3px white;
}

.feature:nth-child(1),
.feature:nth-child(2) {
  border-bottom: solid 3px white;
  padding-bottom: 50px;
}

.feature:nth-child(3),
.feature:nth-child(4) {
  padding-top: 50px;
}


#contact-section {
  padding: 130px 0;
  background: radial-gradient(ellipse farthest-side at 100% 100%,#97c9d5 5%,#1b5494 60%,#1f2e5a 120%);
}

.brand-cloud {
  position: relative;
}

.brand-cloud__brand {
  position: absolute;
}

.brand-cloud__brand-inner {
  box-shadow: 0 20px 20px rgba(10,10,50,0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
  animation-name: bob;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  background-color: white;
}

@keyframes bob {
  0% {
    transform: translateY(0px) rotateZ(2deg);
  }
  50% {
    transform: translateY(10px) rotateZ(-3deg);
  }
  100% {
    transform: translateY(0px) rotateZ(2deg);
  }
}

.brand-cloud__brand:nth-child(1) {
  top: -37px;
  right: 320px;
}

.brand-cloud__brand:nth-child(1) .brand-cloud__brand-inner {
  border-radius: 80px;
  width: 160px;
  height: 160px;
  animation-delay: -0.2s;
}

.brand-cloud__brand:nth-child(2) {
  top: 280px;
  right: -20px;
}

.brand-cloud__brand:nth-child(2) .brand-cloud__brand-inner {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  animation-delay: -0.5s;
}

.brand-cloud__brand:nth-child(3) {
  top: 120px;
  right: 140px;
}

.brand-cloud__brand:nth-child(3) .brand-cloud__brand-inner {
  border-radius: 70px;
  width: 140px;
  height: 140px;
  animation-delay: -3.7s;
}

.brand-cloud__brand:nth-child(4) {
  top: 9px;
  right: -40px;
}

.brand-cloud__brand:nth-child(4) .brand-cloud__brand-inner {
  border-radius: 60px;
  width: 120px;
  height: 120px;
  animation-delay: -2s;
}

.brand-cloud__brand:nth-child(5) {
  top: 304px;
  right: 262px;
}

.brand-cloud__brand:nth-child(5) .brand-cloud__brand-inner {
  border-radius: 80px;
  width: 160px;
  height: 160px;
  animation-delay: -1.8s;
}

.tri-button {
  transition: background-color .3s;
  width: 190px;
  border: 0 !important;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: brandon-grotesque, sans-serif;
  font-size: 13px;
  font-weight: 900;
  height: 44px;
  letter-spacing: .5px;
  margin: 0 auto 60px;
  outline: 0;
  text-transform: uppercase;
  background-image: none !important;
  background-color: #00b4ff !important;
  box-shadow: 0 3px 10px 0 rgba(13, 24, 55, 0.25) !important;
  width: 220px !important;
}

.tri-button:hover {
  transform: translateY(-1px);
  background: #1dc5ff !important;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
}
