.splash-humio {
  display: flex;
  flex-direction: column;
}

.splash-humio__compress-outline {
  width: 62px;
  height: 62px;
  border: dashed 1px #0b8278;
  border-radius: 4px;
  margin-bottom: 12px;
}

.splash-humio__compress {
  width: 64px;
  height: 64px;
  animation-name: splash-humio__compress;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  background-color: #0b8278;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier();
  position: relative;
  border-radius: 4px;
  margin: -1px;
}
/*
.splash-humio__compress::before {
  content: '000111010100110101001111000110110101010100100110101001110111';
  word-break: break-all;
  text-align: justify;
  overflow: hidden;
  line-height: 1;
  color: rgb(34, 80, 49);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 9px;
  padding: 5px;
}*/

@keyframes splash-humio__compress {
  0% {
    opacity: 1;
    transform: none;
  }
  10% {
    opacity: 1;
    background-color: #0b8278;
    transform: none;
  }
  50% {
    background-color: #5D19B0;
    transform: scale(0.2);
  }
  95% {
    opacity: 1;
  }
  96% {
    background-color: #5D19B0;
    opacity: 0;
    transform: scale(0.2);
  }
  97% {
    transform: scale(1);
    background-color: #0b8278;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splash-humio__logo {
  width: 260px;
  align-self: center;
}

.splash-humio__charts {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  min-width: 320px;
}

.splash-humio__chart {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 220px;
  justify-content: flex-end;
}

.splash-humio__chart-bottom {
  height: 62px;
  flex: 0 0 auto;
  margin-top: 5px;
}

.splash-humio__value {
  font-size: 50px;
  color: #9af0b4;
  text-align: center;
  position: relative;
  line-height: 1;
  width: 150px;
  margin-bottom: 20px;
}

.splash-humio__superscript {
  position: absolute;
  bottom: -15px;
  right: 24px;
  font-size: 16px;
}

.splash-humio__chart-title {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.splash-humio__chart-timespan {
  font-size: 10px;
  text-align: center;
  color: #9af0b4;
  white-space: nowrap;
}
