@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(./fonts/MaterialIcons-Regular.woff) format('woff'),
       url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  /* font-family: 'Droid Sans Mono', monospace; */
}

body, #root, #root > div {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-footer {
  background-color: black;
  padding: 38px;
  color: white;
  flex: 0 0 auto;
}

.page-footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.page-footer__menus {
  display: flex;
  flex: 1 1 auto;
  margin-right: 150px;
}

.page-footer__menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.page-footer__menu > a {
  color: white !important;
  text-decoration: none;
  line-height: 28px;
}

.page-footer__info {
  flex: 0 0 auto;
  width: 300px;
  color: rgb(190, 190, 190);
  font-size: 12px;
  line-height: 22px;
}

.page-footer__info a {
  color: white !important;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .page-footer__content {
    flex-direction: column;
  }
}

.transparent-button {
  background-color: transparent;
  color: rgb(255, 172, 75);
  border: solid 1px rgb(255, 172, 75);
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  padding: 7px 15px;
  transition: all 0.2s;
}

.transparent-button:hover {
  color: rgb(223, 99, 20);
  border: solid 1px rgb(223, 99, 20);
}

.trifork-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem
}

.page-top {
  background-position: center center;
  background-size: cover;
  color: white;
  /* overflow is set to prevent margin collapse */
  overflow: hidden;
}

.page-top__text {
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  position: relative;
}

.page-top__text--light .page-top__text {
  color: white;
}

.page-top__text h2 {
  font-weight: 300;
  font-size: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1;
}

.page-top__text a {
  color: white !important;
}

.segment {
  padding: 50px 0;
  background: linear-gradient(-45deg, rgb(49, 191, 131) 0%, rgb(0, 183, 170) 100%);
  -webkit-font-smoothing: antialiased;
  color: white;
}

.segment:not(.segment--alternate) .description {
  font-weight: 400;
}

.segment--alternate {
  background-image: none;
  color: black;
}

.segment__content p {
  margin-top: 0;
}

.segment__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.segment__content--no-header {
  padding-top: 70px;
}

.icon-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 18px;
}

.icon-list__icon-container {
  width: 46px;
  text-align: center;
}

.icon-list__icon {
  max-width: 32px;
  max-height: 32px;
  margin-right: 8px;
}

@media screen and (max-width: 800px) {
.col-xs-12 {
  width: 100%;
}
}

.page__splash {
  height: 600px;
}

.page__splash-content {
  width: 1100px;
  max-width: 90%;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.page__splash-content--title {
  justify-content: flex-start;
  align-items: center;
}

.page__splash-title {
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 32px;
  margin-bottom: 10px;
}

.page__splash-tagline {
  margin-bottom: 150px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.page__splash-hexagon {
  margin-bottom: 34px;
}

#accelerateLogo {
  width: 800px;
}

.page__splash--1,
.page__splash--2 {
  position: relative;
}

.page__splash--1::before {
  content: '';
  position: absolute;
  background-image: url(./images/splash/workshop.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  x: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.page__splash--2::before {
  content: '';
  position: absolute;
  background-image: url(./images/splash/training.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  x: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.page__splash-content {
  z-index: 2;
  position: relative;
}
